<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:hx="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 폼</title>
    <link rel="stylesheet" th:href="@{/libs/bootstrap-5.3.3/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/libs/bootstrap-tagsinput-0.8.0/bootstrap-tagsinput.css}">
    <link rel="stylesheet" th:href="@{/libs/filepond-4.28.2/filepond.min.css}">
    <link rel="stylesheet" th:href="@{/css/posts/form.css}">
</head>
<body>
<form hx:post="${isSave} ? @{/posts} : @{/posts/{id}(id=${post.id})}" enctype="multipart/form-data">
    <p>
        <label for="subject">제목</label> :
        <input type="text" id="subject" name="subject" size="50" th:value="${post?.subject}">
    </p>
    <p>
        <label for="author">작성자</label> :
        <input type="text" id="author" name="author" th:value="${post?.author}">
    </p>
    <p>
        <label for="tags">태그</label> :
        <select multiple id="tags" name="tags">
            <option th:each="tag : ${post?.tags}" th:value="${tag}" th:text="${tag}"></option>
        </select>
    </p>
    <p>
        <label for="content">내용</label> :
        <br>
        <textarea id="content" name="content" th:text="${post?.content}" cols="50" rows="10"></textarea>
    </p>
    <p>
        <fieldset id="filepond">
            <legend>Files</legend>
            <!--/* 해당 게시글에 업로드 되어있는 첨부파일들 불러오기 */-->
            <ul>
                <li th:each="file : ${post?.files}">
                    <label>
                        <input type="checkbox" data-type="local" checked th:value="${file.id}" th:text="${file.name}">
                    </label>
                </li>
            </ul>
            <!--/* 파일 업로드 인풋 */-->
            <input type="file" class="filepond" name="file" multiple />
        </fieldset>
    </p>
    <p>
        <button type="submit" th:text="${isSave} ? '등록': '수정'"></button>
        <a th:href="@{/posts/list.html(page=${page},size=${size},keyword=${keyword})}">목록</a>
    </p>
</form>

<script type="text/javascript" th:src="@{/libs/jquery-3.7.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/libs/bootstrap-5.3.3/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/libs/bootstrap-tagsinput-0.8.0/bootstrap-tagsinput.min.js}"></script>
<script type="text/javascript" th:src="@{/libs/htmx-2.0.4//htmx.min.js}"></script>
<script type="text/javascript" th:src="@{/libs/filepond-4.28.2/filepond.js}"></script>
<script type="text/javascript" th:src="@{/libs/filepond-plugins/file-validate-size-2.2.0.min.js}"></script>
<script>
    // bootstrap tags input
    $("#tags").tagsinput();
    // filepond
    FilePond.registerPlugin(FilePondPluginFileValidateSize);
    FilePond.setOptions({
        storeAsFile: true,
        maxFileSize: "20MB",
        server: "/filepond",
    });
    FilePond.create(document.getElementById("filepond"));
</script>
</body>
</html>
