<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" th:href="@{/libs/bootstrap-5.3.3/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/libs/bootstrap-icons-1.11.3/bootstrap-icons.min.css}">
    <link rel="stylesheet" th:href="@{/libs/nanum-gothic/NanumGothic.css}">
    <link rel="stylesheet" th:href="@{/css/posts/list.css}">
</head>
<body>

<div class="container pt-5 pb-5">
    <section class="d-flex align-items-end">
        <!--/* 총 건수 */-->
        <div>
            <span class="fs-5">
                <i class="bi bi-stack"></i>
                <th:block th:text="${pagination.total}"/>
            </span>
        </div>
        <!--/* 검색 폼 */-->
        <div class="ms-auto d-flex">
            <form method="get" th:action="@{/posts/list.html}">
                <input type="hidden" name="offset" th:value="${pagination.page}">
                <input type="hidden" name="limit" th:value="${pagination.size}">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="검색어 입력" aria-label="검색어"
                           aria-describedby="keyword" name="keyword" th:value="${keyword}">
                    <button type="submit" class="input-group-text">
                        <i class="bi bi-search"></i>
                    </button>
                    <a class="input-group-text" title="목록" th:href="@{/posts/list.html}">
                        <i class="bi bi-list-columns"></i>
                    </a>
                </div>
            </form>
        </div>
    </section>
    <section class="mt-2 border-top border-3 border-dark">
        <!--/* 게시글 */-->
        <div class="pt-2 pb-2 border-black border-bottom" th:if="${pagination.total > 0}"
             th:each="item : ${pagination.items}">
            <div class="row justify-content-between">
                <!--/* 순번 */-->
                <div class="text-center w-70px" th:text="${item.seq}"></div>
                <!--/* 제목 */-->
                <div class="col text-truncate ps-0">
                    <th:block th:if="${item.data.depth > 0}">
                        <span th:each="i: ${#numbers.sequence(0, item.data.depth - 1)}" class="ms-3"></span>
                        <i class="bi bi-reply"></i>
                    </th:block>
                    <a th:unless="${item.data.removed}" th:href="@{/posts/view.html(id=${item.data.id},page=${pagination.page},size=${pagination.size},keyword=${keyword})}"
                       class="text-decoration-none text-black">
                        <th:block th:text="${item.data.subject}" />
                        <span th:if="${item.data.comments > 0}" class="badge-comment text-danger" th:text="|[${item.data.comments}]|"></span>
                    </a>
                    <span th:if="${item.data.removed}" class="text-decoration-line-through text-muted" th:text="${item.data.subject}"/>
                </div>
                <!--/* 작성자 */-->
                <div class="col text-truncate block w-140px">
                    <span><i class="bi bi-person"></i></span>
                    <span th:text="${item.data.author}"/>
                </div>
            </div>
            <div th:unless="${item.data.removed}" class="row justify-content-between pt-1">
                <!--/* 빈칸 */-->
                <div class="col-auto w-70px"></div>
                <!--/* 태그 */-->
                <div class="col ps-0">
                    <span th:if="${item.data.depth > 0}" th:each="i: ${#numbers.sequence(0, item.data.depth - 1)}" class="ms-3"></span>
                    <span th:if="${item.data.tags != null}">
                        <a class="tag me-1" th:each="tag : ${item.data.tags}" th:href="@{/posts/list.html(keyword=${tag})}" th:text="'#' + ${tag}"/>
                    </span>
                </div>
                <!--/* 조회수 */-->
                <div class="col-auto col-1 w-70px">
                    <i class="bi bi-eye"></i>
                    <th:block th:text="${item.data.hits}"/>
                </div>
                <!--/* 변경일시 */-->
                <div class="col-auto w-140px">
                    <i class="bi bi-calendar-week"></i>
                    <span th:text="${item.data.changed}"/>
                </div>
            </div>
        </div>
    </section>
    <section class="mt-3 d-flex">
        <!--/* 페이지네이션 */-->
        <div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item" th:if="${pagination.hasPrev}">
                        <a th:href="@{/posts/list.html(page=${pagination.prev},size=${pagination.size},keyword=${keyword})}"
                           class="page-link border-0 text-dark" aria-label="이전">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:each="p : ${pagination.pages}">
                        <a class="page-link border-0"
                           th:classappend="${p == pagination.page} ? 'text-danger fw-bold' : 'text-dark'"
                           th:href="@{/posts/list.html(page=${p},size=${pagination.size},keyword=${keyword})}"
                           th:text="${p}"></a>
                    </li>
                    <li class="page-item" th:if="${pagination.hasNext}">
                        <a th:href="@{/posts/list.html(page=${pagination.next},size=${pagination.size},keyword=${keyword})}"
                           class="page-link border-0 text-dark" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!--/* 버튼 */-->
        <div class="ms-auto">
            <a th:href="@{/posts/save.html(page=${pagination.page},size=${pagination.size},keyword=${keyword})}"
               class="btn btn-outline-primary rounded-0">
                <i class="bi bi-pencil"></i> 등록
            </a>
            <a th:href="@{/posts/list.html}" class="btn btn-outline-dark rounded-0">
                <i class="bi bi-list-columns"></i> 목록
            </a>
        </div>
    </section>
</div>
</body>
</html>
