<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:hx="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:with="showHeader=false">
<head>
    <title>비밀번호 찾기</title>
</head>
<body>
<div layout:fragment="content" class="container pt-5 pb-5">
    <h2>비밀번호 찾기</h2>
    <form hx:post="@{/members/forgot-password}" hx-swap="none">
        <!--/* 폼 */-->
        <section class="mt-2 pt-4 border-top border-3 border-dark" th:fragment="form">
            <div class="mt-3">
                <label for="email" class="form-label">이메일</label>
                <input type="email" class="form-control" id="email" name="email" autofocus required placeholder="이메일 주소를 입력하세요.">
            </div>
            <div class="mt-3">
                <label for="captcha" class="form-label">자동 등록 방지</label>
                <div class="input-group">
                    <img id="captcha-image" width="200" height="38"
                         class="form-control" style="flex: none; width: 200px; padding: 0; cursor: pointer;"
                         th:src="@{/captcha.png(w=200,h=38)}">
                    <input type="text" id="captcha" name="captcha" class="form-control" required placeholder="표시된 코드를 입력하세요">
                </div>
            </div>
        </section>
        <!--/* 버튼 */-->
        <section class="pt-3 mt-4 border-top border-1 border-dark d-flex">
            <div class="ms-auto">
                <button type="submit" class="btn btn-outline-primary rounded-0">비밀번호 찾기</button>
                <a th:href="@{/}" class="btn btn-outline-dark rounded-0">
                    <i class="bi bi-x"></i> 취소
                </a>
            </div>
        </section>
    </form>
</div>
<script layout:fragment="js" th:inline="javascript">
    const rsaPublicKey = /*[[${rsaPublicKey}]]*/ "";

    // 서버로 요청되는 파라미터를 암호화 한다.
    document.addEventListener('htmx:config-request', (e) => {
        encryptFormData(e.detail, rsaPublicKey)
    });

    document.addEventListener('htmx:after-request', (e) => {
        if (e.detail.failed) return;
        Swal.fire({
            icon: "success",
            text: "이메일을 확인해주세요!",
            confirmButtonText: "확인",
        }).then(function (result) {
            if (result.isConfirmed) {
                document.location.href = e.detail.xhr.getResponseHeader("Location")
            }
        });
    });
</script>
</body>
</html>
