<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:hx="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:with="showHeader=false">
<head>
    <title>비밀번호 초기화</title>
    <script th:src="@{/libs/pswmeter-1.1/pswmeter.min.js}"></script>
</head>
<body>
<div layout:fragment="content" class="container pt-5 pb-5">
    <h2>비밀번호 초기화</h2>
    <form hx:post="@{/members/password-reset}" hx-swap="none">
        <input type="hidden" name="token" th:value="${token}"/>
        <!--/* 폼 */-->
        <section class="mt-2 pt-4 border-top border-3 border-dark" th:fragment="form">
            <div class="mt-3">
                <label for="password1" class="form-label">비밀번호</label>
                <input type="password" class="form-control" id="password1" name="password" required placeholder="비밀번호를 입력하세요.">
                <div id="pswmeter" class="mt-2"></div>
                <div id="pswmeter-message"></div>
            </div>
            <div class="mt-3">
                <label for="password2" class="form-label">비밀번호 확인</label>
                <input type="password" class="form-control" id="password2" required placeholder="비밀번호를 입력하세요.">
            </div>
            <div class="mt-3">
                <label for="captcha" class="form-label">자동 등록 방지</label>
                <div class="input-group">
                    <img id="captcha-image" width="200" height="38"
                         class="form-control" style="flex: none; width: 200px; padding: 0; cursor: pointer;"
                         th:src="@{/captcha.png(w=200,h=38)}">
                    <input type="text" id="captcha" name="captcha" class="form-control" required placeholder="표시된 코드를 입력하세요">
                </div>
            </div>
        </section>
        <!--/* 버튼 */-->
        <section class="pt-3 mt-4 border-top border-1 border-dark d-flex">
            <div class="ms-auto">
                <button type="submit" class="btn btn-outline-primary rounded-0">
                    <i class="bi bi-pencil"></i> 초기화
                </button>
                <a th:href="@{/}"
                   class="btn btn-outline-dark rounded-0">
                    <i class="bi bi-x"></i> 취소
                </a>
            </div>
        </section>
    </form>
</div>
<script layout:fragment="js" th:inline="javascript">
    const rsaPublicKey = /*[[${rsaPublicKey}]]*/ "";

    // 서버로 요청되는 파라미터를 암호화 한다.
    document.addEventListener('htmx:config-request', (e) => {
        encryptFormData(e.detail, rsaPublicKey)
    });

    // 비밀번호와 비밀번호확인 값 일치 확인
    function matchPassword(password1, password2) {
        if (password1.value === password2.value) {
            password2.classList.remove("border-danger");
        } else {
            password2.classList.add("border-danger");
        }
    }

    // 비밀번호 강도 체크
    passwordStrengthMeter({
        containerElement: '#pswmeter',
        passwordInput: '#password1',
        showMessage: false,
        height: 6,
        borderRadius: 0,
        pswMinLength: 8,
    });

    const password1 = document.getElementById("password1");
    const password2 = document.getElementById("password2");

    password1.addEventListener("input", () => matchPassword(password1, password2))
    password2.addEventListener("input", () => matchPassword(password1, password2));

    document.addEventListener('htmx:after-request', (e) => {
        if (e.detail.failed) return;
        Swal.fire({
            icon: "success",
            text: "비밀번호가 변경되었습니다.",
            confirmButtonText: "확인",
        }).then(function (result) {
            if (result.isConfirmed) {
                document.location.href = e.detail.xhr.getResponseHeader("Location")
            }
        });
    });
</script>
</body>
</html>
