<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:hx="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${post.subject}"></title>
    <link rel="stylesheet" th:href="@{/libs/bootstrap-5.3.3/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/libs/bootstrap-icons-1.11.3/bootstrap-icons.min.css}">
    <link rel="stylesheet" th:href="@{/libs/nanum-gothic/NanumGothic.css}">
    <link rel="stylesheet" th:href="@{/libs/ckeditor-5.44.10/ckeditor5.css}">
    <link rel="stylesheet" th:href="@{/libs/ckeditor-5.44.10/ckeditor5-content.css}">
    <link rel="stylesheet" th:href="@{/libs/prism-1.29.0/prism.css}">
    <link rel="stylesheet" th:href="@{/css/posts/view.css}">
    <script type="text/javascript" th:src="@{/libs/htmx-2.0.4/htmx.min.js}"></script>
    <script type="text/javascript" th:src="@{/libs/ckeditor-5.44.10/ckeditor5.umd.js}"></script>
    <script type="text/javascript" th:src="@{/libs/ckeditor-5.44.10/ko.umd.js}"></script>
    <script type="text/javascript" th:src="@{/libs/prism-1.29.0/prism.js}"></script>
    <th:block th:replace="~{common :: head-csrf}"/>
</head>
<body>
<nav th:replace="~{common :: header}"></nav>
<div class="container pt-5 pb-5">
    <section>
        <!--/* 제목 */-->
        <h2 th:text="${post.subject}"/>
        <div class="mt-4 d-flex">
            <div>
                <!--/* 작성자 */-->
                <em class="fs-5" th:text="${author.nickname}"/>
                <!--/* 변경일시 */-->
                <span class="ms-3">
                    <i class="bi bi-calendar-week"></i>
                    <span th:text="${post.changed}"/>
                </span>
                <!--/* 조회수 */-->
                <span class="ms-3">
                    <i class="bi bi-eye"></i>
                    <th:block th:text="${post.hits}"/>
                </span>
            </div>
            <div class="ms-auto">
                <span class="cursor-pointer" hx:post="@{/posts/{postId}/like(postId=${post.id})}" hx-trigger="click"
                      hx-target="#likes">
                    <i class="bi bi-hand-thumbs-up"></i>
                    <span id="likes" th:text="${#numbers.formatInteger(post.likes, 1, 'COMMA')}">0</span>
                </span>
                <span class="ms-2 cursor-pointer" hx:post="@{/posts/{postId}/dislike(postId=${post.id})}"
                      hx-trigger="click" hx-target="#dislikes">
                    <i id="dislike" class="bi bi-hand-thumbs-down"></i>
                    <span id="dislikes" th:text="${#numbers.formatInteger(post.dislikes, 1, 'COMMA')}">0</span>
                </span>
            </div>
        </div>
    </section>
    <section class="mt-2 pt-3 border-top border-3 border-dark">
        <div class="mt-4 content ck-content">
            <th:block th:utext="${post.content}"/>
        </div>
        <div class="mt-4" th:if="${post.tags != null}">
            <i class="bi bi-tag"></i>
            <a class="tag me-1" th:each="tag : ${post.tags}" th:href="@{/posts/list.html(keyword=${tag})}"
               th:text="'#' + ${tag}"/>
        </div>
    </section>
    <section class="mt-4" th:if="${post.files.size() > 0}">
        <div th:each="file : ${post.files}">
            <i class="bi bi-download"></i>
            <a class="text-decoration-none" th:href="@{/files/{id}(id=${file.id})}" th:text="${file.name}"/>
        </div>
    </section>
    <section class="pt-3 mt-4 border-top border-1 border-dark d-flex">
        <div>
            <a th:href="@{/posts/reply.html(parent=${post.id},page=${page},size=${size},keyword=${keyword})}"
               class="btn btn-outline-secondary rounded-0">
                <i class="bi bi-reply"></i> 답글
            </a>
        </div>
        <div class="ms-auto">
            <a sec:authorize="isAuthenticated()"
               th:if="${#authentication.principal.id == author.id}"
               th:href="@{/posts/edit.html(id=${post.id},page=${page},size=${size},keyword=${keyword})}"
               class="btn btn-outline-secondary rounded-0">
                <i class="bi bi-pencil"></i> 수정
            </a>
            <button sec:authorize="isAuthenticated()"
                    th:if="${#authentication.principal.id == author.id}"
                    hx:delete="@{/posts/{id}(id=${post.id})}"
                    hx-confirm="게시글을 삭제하시겠습니까?"
                    class="btn btn-outline-danger rounded-0">
                <i class="bi bi-trash"></i> 삭제
            </button>
            <a th:href="@{/posts/list.html(page=${page},size=${size},keyword=${keyword})}"
               class="btn btn-outline-dark rounded-0">
                <i class="bi bi-list-columns"></i> 목록
            </a>
        </div>
    </section>
    <!--/* 코멘트 */-->
    <section class="mt-4">
        <!--/* 코멘트 등록 폼 */-->
        <div sec:authorize="isAnonymous()" class="text-center">
            코멘트를 등록하려면 <a th:href="@{{url}(url=${loginUrl})}">로그인</a>이 필요합니다.
        </div>
        <div class="form-floating" sec:authorize="isAuthenticated()">
            <form hx:post="@{/posts/{postId}/comments(postId=${post.id})}" hx-target="#comments-container"
                  hx-swap="afterbegin" hx-on:submit="window.editor.setData('');">
                <div class="editor-container editor-container_classic-editor"
                     id="editor-container">
                    <div class="editor-container__editor">
                        <textarea name="content" id="editor"></textarea>
                    </div>
                </div>
                <div class="d-flex mt-2">
                    <div class="ms-auto">
                        <button type="submit" class="btn btn-outline-primary rounded-0">
                            <i class="bi bi-pencil"></i> 등록
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!--/* 코멘트 목록 */-->
        <section>
            <div hx-indicator=".htmx-indicator" id="comments-container">
                <div th:replace="~{/posts/view/fragments :: comments (${post.id})}"></div>
            </div>
            <div class="text-center">
                <img class="htmx-indicator" width="60" th:src="@{/img/bars.svg}" alt="Loading...">
            </div>
        </section>
    </section>
</div>
<script>
    // CKEditor
    const {
        ClassicEditor,
        AutoImage,
        AutoLink,
        Autosave,
        Base64UploadAdapter,
        BlockQuote,
        Bold,
        Code,
        CodeBlock,
        Essentials,
        FontBackgroundColor,
        FontColor,
        Highlight,
        ImageBlock,
        ImageCaption,
        ImageInline,
        ImageInsert,
        ImageInsertViaUrl,
        ImageResize,
        ImageStyle,
        ImageTextAlternative,
        ImageToolbar,
        ImageUpload,
        Italic,
        Link,
        LinkImage,
        Paragraph,
        RemoveFormat,
        Strikethrough,
        Subscript,
        Superscript,
        Table,
        TableCaption,
        TableCellProperties,
        TableColumnResize,
        TableProperties,
        TableToolbar,
        Underline
    } = CKEDITOR;

    const editorConfig = {
        toolbar: {
            items: [
                'fontColor',
                'fontBackgroundColor',
                '|',
                'bold',
                'italic',
                'underline',
                'strikethrough',
                'subscript',
                'superscript',
                'code',
                'removeFormat',
                '|',
                'link',
                'insertImage',
                'insertTable',
                'highlight',
                'blockQuote',
                'codeBlock',
            ],
            shouldNotGroupWhenFull: true
        },
        plugins: [
            AutoImage,
            AutoLink,
            Autosave,
            Base64UploadAdapter,
            BlockQuote,
            Bold,
            Code,
            CodeBlock,
            Essentials,
            FontBackgroundColor,
            FontColor,
            Highlight,
            ImageBlock,
            ImageCaption,
            ImageInline,
            ImageInsert,
            ImageInsertViaUrl,
            ImageResize,
            ImageStyle,
            ImageTextAlternative,
            ImageToolbar,
            ImageUpload,
            Italic,
            Link,
            LinkImage,
            Paragraph,
            RemoveFormat,
            Strikethrough,
            Subscript,
            Superscript,
            Table,
            TableCaption,
            TableCellProperties,
            TableColumnResize,
            TableProperties,
            TableToolbar,
            Underline,
        ],
        image: {
            toolbar: [
                'toggleImageCaption',
                'imageTextAlternative',
                '|',
                'imageStyle:inline',
                'imageStyle:wrapText',
                'imageStyle:breakText',
                '|',
                'resizeImage'
            ]
        },
        licenseKey: "GPL",
        link: {
            addTargetToExternalLinks: true,
            defaultProtocol: 'https://',
            decorators: {
                toggleDownloadable: {
                    mode: 'manual',
                    label: 'Downloadable',
                    attributes: {
                        download: 'file'
                    }
                }
            }
        },
        placeholder: '코멘트를 입력하세요.',
        table: {
            contentToolbar: ['tableColumn', 'tableRow', 'mergeTableCells', 'tableProperties', 'tableCellProperties']
        },
    };

    ClassicEditor
        .create(document.querySelector("#editor"), editorConfig)
        .then(editor => {
            window.editor = editor;
            // 엔터키 입력시 <p>가 아닌 <br>로 처리.
            editor.editing.view.document.on("enter", (e, data) => {
                editor.execute("shiftEnter");
                data.preventDefault();
                e.stop();
                editor.editing.view.scrollToTheSelection();
            }, {
                priority: "high"
            });
        })
        .catch(error => console.error(error));
</script>
</body>
</html>
