.container {
    min-width: 576px;
}

.w-70px {
    min-width: 70px;
    max-width: 70px;
}

.w-140px {
    min-width: 140px;
    max-width: 140px;
}

.cursor-pointer {
    cursor: pointer;
}

.link {
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}
