<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Layout page</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <link rel="stylesheet" th:href="@{/libs/bootstrap-5.3.3/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/libs/bootstrap-icons-1.11.3/bootstrap-icons.min.css}">
    <link rel="stylesheet" th:href="@{/libs/sweetalert2-11.19.1/sweetalert2.min.css}">
    <link rel="stylesheet" th:href="@{/libs/nanum-gothic/NanumGothic.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <script type="text/javascript" th:src="@{/libs/bootstrap-5.3.3/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/libs/jquery-3.7.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/libs/htmx-2.0.4/htmx.min.js}"></script>
    <script type="text/javascript" th:src="@{/libs/sweetalert2-11.19.1/sweetalert2.min.js}"></script>
    <script type="text/javascript" th:src="@{/libs/forge-1.0.0/forge.min.js}"></script>
</head>
<body>
<th:block th:if="${showHeader}">
    <nav th:replace="~{fragments :: header}"></nav>
</th:block>
<div class="container" layout:fragment="content"></div>
<script>
    // HTMX + CSRF
    document.addEventListener('htmx:config-request', (event) => {
        const csrfToken = document.querySelector('meta[name="_csrf"]').content;
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').content;
        event.detail.headers[csrfHeader] = csrfToken;
    });

    // 캡챠 이미지 클릭 시 이미지 변경
    const captchaImage = document.getElementById("captcha-image");
    if (captchaImage != null) {
        captchaImage.addEventListener("click", function () {
            // 무작위 문자열 생성
            const randomValue = Math.random().toString(36).substring(2, 8);
            // r 파라미터 세팅
            const urlObj = new URL(this.getAttribute("src"), window.location.origin);
            urlObj.searchParams.set('r', randomValue);
            // 이미지 주소 바꿈
            const newUrl = urlObj.pathname + '?' + urlObj.searchParams.toString();
            this.setAttribute("src", newUrl);
        });
    }

    // HTMX AJAX 공통 에러 처리
    document.body.addEventListener("htmx:response-error", function (e) {
        const responseText = e.detail.xhr.responseText;
        const json = JSON.parse(responseText);
        Swal.fire({
            icon: "error",
            text: json.message,
        });
    });

    /**
     * HTMX 이벤트의 모든 파라미터를 암호화
     *
     * @param detail HTMX Event Detail
     * @param rsaPublicKey RSA 공개키
     */
    function encryptFormData(detail, rsaPublicKey) {
        detail.headers["X-Encrypted"] = true;
        const formData = detail.parameters;
        const entries = formData.entries();
        for (const [name, value] of entries) {
            const [key, iv, encrypted, tag, aad] = encrypt(value, rsaPublicKey);
            let encoded = key + iv + encrypted + tag;
            if (aad != null) {
                encoded += aad;
            }
            formData.set(name, encoded);
        }
    }

    /**
     * 암호화
     *
     * @param plain 원문
     * @param rsaPublicKey RSA 공개키
     * @returns 암호화된 값
     */
    function encrypt(plain, rsaPublicKey) {
        const publicKey = forge.pki.publicKeyFromPem(rsaPublicKey);
        const [key, iv, encrypted, tag, aad] = encAesGcm(plain);
        // AES 키를 RSA(RSA/ECB/OAEPWithSHA-256AndMGF1Padding)로 암호화
        const encKey = publicKey.encrypt(key, "RSA-OAEP", {
            md: forge.md.sha256.create(),
            mgf1: {
                md: forge.md.sha256.create()
            }
        });
        return [
            forge.util.bytesToHex(encKey),
            forge.util.bytesToHex(iv),
            forge.util.bytesToHex(encrypted),
            forge.util.bytesToHex(tag),
            forge.util.bytesToHex(aad)
        ];
    }

    /**
     * AES/GCM 암호화
     */
    function encAesGcm(plain) {
        const key = forge.random.getBytesSync(16);
        const iv = forge.random.getBytesSync(16);
        const aad = forge.random.getBytesSync(32);

        const cipher = forge.cipher.createCipher('AES-GCM', key);
        cipher.start({
            iv: iv, // should be a 12-byte binary-encoded string or byte buffer
            additionalData: aad, // optional
            tagLength: 128 // optional, defaults to 128 bits
        });
        cipher.update(forge.util.createBuffer(plain));
        cipher.finish();

        return [key, iv, cipher.output, cipher.mode.tag, aad];
    }
</script>
<script layout:fragment="js"></script>
</body>
</html>
