<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:with="showHeader=true">
<head>
    <title>Form Layout</title>
    <link rel="stylesheet" th:href="@{/libs/bootstrap5-tags-1.7.6/tags-pure.min.css}">
    <link rel="stylesheet" th:href="@{/libs/filepond-4.28.2/filepond.min.css}">
    <link rel="stylesheet" th:href="@{/libs/ckeditor-5.44.10/ckeditor5.css}">
    <link rel="stylesheet" th:href="@{/css/posts/form.css}">
    <script type="text/javascript" th:src="@{/libs/jquery-3.7.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/libs/filepond-4.28.2/filepond.js}"></script>
    <script type="text/javascript" th:src="@{/libs/ckeditor-5.44.10/ckeditor5.umd.js}"></script>
    <script type="text/javascript" th:src="@{/libs/ckeditor-5.44.10/ko.umd.js}"></script>
</head>
<body>
</body>
<script type="module" th:inline="javascript" layout:fragment="js">
    import Tags from /*[[@{/libs/bootstrap5-tags-1.7.6/tags.min.js}]]*/ "https://cdn.jsdelivr.net/npm/bootstrap5-tags@1.7.6/tags.min.js";

    Tags.init("#tags", {
        separator: " |,|",
        allowNew: true,
        allowClear: true,
        showDropIcon: false,
        showAllSuggestions: false,
    });

    function refreshCaptcha() {
        const img = document.getElementById("captcha-image");
        const src = img.getAttribute("src"); // 기존 src 값을 가져옴
        img.setAttribute("src", src); // 캐시 방지
    }

    FilePond.create(document.getElementById("filepond"), {
        storeAsFile: true,
        server: {
            url: "/filepond",
            process: {
                headers: function (file) {
                    // 청크 초기화할 정보를 서버로 보내준다.
                    return {
                        "Upload-Name": encodeURIComponent(file.name),
                        "Upload-Type": file.type,
                        "Upload-Length": file.size,
                    };
                }
            }
        },
        chunkUploads: true,
        chunkForce: true,
        chunkSize: 5 * 1024 * 1024, // 5MB
    });
    // CKEditor
    const {
        ClassicEditor,
        Alignment,
        AutoImage,
        AutoLink,
        Autosave,
        Base64UploadAdapter,
        BlockQuote,
        Bold,
        Code,
        CodeBlock,
        Essentials,
        FontBackgroundColor,
        FontColor,
        Highlight,
        ImageBlock,
        ImageCaption,
        ImageInline,
        ImageInsert,
        ImageInsertViaUrl,
        ImageResize,
        ImageStyle,
        ImageTextAlternative,
        ImageToolbar,
        ImageUpload,
        Indent,
        IndentBlock,
        Italic,
        Link,
        LinkImage,
        Paragraph,
        RemoveFormat,
        Strikethrough,
        Subscript,
        Superscript,
        Table,
        TableCaption,
        TableCellProperties,
        TableColumnResize,
        TableProperties,
        TableToolbar,
        Underline,
        WordCount
    } = CKEDITOR;

    const editorConfig = {
        toolbar: {
            items: [
                'fontColor',
                'fontBackgroundColor',
                '|',
                'bold',
                'italic',
                'underline',
                'strikethrough',
                'subscript',
                'superscript',
                'code',
                'removeFormat',
                '|',
                'link',
                'insertImage',
                'insertTable',
                'highlight',
                'blockQuote',
                'codeBlock',
                '|',
                'alignment',
                '|',
                'outdent',
                'indent'
            ],
            shouldNotGroupWhenFull: true
        },
        plugins: [
            Alignment,
            AutoImage,
            AutoLink,
            Autosave,
            Base64UploadAdapter,
            BlockQuote,
            Bold,
            Code,
            CodeBlock,
            Essentials,
            FontBackgroundColor,
            FontColor,
            Highlight,
            ImageBlock,
            ImageCaption,
            ImageInline,
            ImageInsert,
            ImageInsertViaUrl,
            ImageResize,
            ImageStyle,
            ImageTextAlternative,
            ImageToolbar,
            ImageUpload,
            Indent,
            IndentBlock,
            Italic,
            Link,
            LinkImage,
            Paragraph,
            RemoveFormat,
            Strikethrough,
            Subscript,
            Superscript,
            Table,
            TableCaption,
            TableCellProperties,
            TableColumnResize,
            TableProperties,
            TableToolbar,
            Underline,
            WordCount
        ],
        image: {
            toolbar: [
                'toggleImageCaption',
                'imageTextAlternative',
                '|',
                'imageStyle:inline',
                'imageStyle:wrapText',
                'imageStyle:breakText',
                '|',
                'resizeImage'
            ]
        },
        licenseKey: "GPL",
        link: {
            addTargetToExternalLinks: true,
            defaultProtocol: 'https://',
            decorators: {
                toggleDownloadable: {
                    mode: 'manual',
                    label: 'Downloadable',
                    attributes: {
                        download: 'file'
                    }
                }
            }
        },
        placeholder: '내용을 입력하세요.',
        table: {
            contentToolbar: ['tableColumn', 'tableRow', 'mergeTableCells', 'tableProperties', 'tableCellProperties']
        },
    };

    ClassicEditor.create(document.querySelector('#editor'), editorConfig).then(editor => {
        const wordCount = editor.plugins.get('WordCount');
        document.querySelector('#editor-word-count').appendChild(wordCount.wordCountContainer);
        return editor;
    });
</script>
</html>
