<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:hx="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="~{/posts/form/fragments :: head ('답글 등록')}" />
    <th:block th:replace="~{common :: head-csrf}" />
</head>
<body>
<nav th:replace="~{common :: header}"></nav>
<div class="container pt-5 pb-5">
    <form hx:post="@{/posts/reply}">
        <input type="hidden" name="parent" th:value="${post.id}">
        <!--/* 폼 */-->
        <section th:replace="~{/posts/form/fragments :: form}"></section>
        <!--/* 버튼 */-->
        <section class="pt-3 mt-4 border-top border-1 border-dark d-flex">
            <div class="ms-auto">
                <button type="submit" class="btn btn-outline-primary rounded-0">
                    <i class="bi bi-pencil"></i> 등록
                </button>
                <a th:href="@{/posts/list.html(page=${page},size=${size},keyword=${keyword})}"
                   class="btn btn-outline-dark rounded-0">
                    <i class="bi bi-list-columns"></i> 목록
                </a>
            </div>
        </section>
    </form>
</div>
<th:block th:replace="~{/posts/form/fragments :: javascript}"/>
</body>
</html>
