@import "../common.css";

.tags > .tag {
    padding: 5px 6px 4px 6px;
    border-radius: 4px;
    background: #F5F5F5;
    color: #777;
    font-size: 14px;
    white-space: nowrap;
    text-decoration: none;
}

.ck-content pre {
    font-size: 80%;
}

.ck-editor__editable {
    min-height: 200px;
    max-height: 200px;
}
